@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: local("Montserrat"), url(./Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("Montserrat"), url(./Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: local("Montserrat"), url(./Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("Montserrat"), url(./Montserrat-Bold.ttf) format("truetype");
}
