body {
    //text colors
    --link: #5669fe;

    //colors

    --primary: #009e45;
    --white: #ffffff;

    //offset
    --offset: 80px;
    --offset-mobile: 20px;

    //fonts
    --Montserrat: "Montserrat", --Lora "Lora";
}
