.banner-slider {
    overflow: hidden;
    height: 100vh;

    .banner-slider-wrapper {
        min-height: 0;
        min-width: 0;
        height: 100vh;
        max-height: 100vh;
    }

    .swiper-slide {
        max-height: 100vh;
    }

    .slide {
        .cursor__conteiner {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        height: 100vh;
        display: flex;
        // width: 100vh;
        // max-height: 100vh;
        // max-width: 100vh;
        // cursor: pointer;
        &:hover {
            cursor: none;
            .slide__btn {
                opacity: 1;
            }
        }
        &__btn {
            opacity: 0;
            display: flex;
            width: 140px;
            height: 140px;
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
            font-size: 16px;
            color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            position: absolute;
            bottom: 20%;
            right: 20%;
            transition: opacity 0.25s linear;
            &-hidden {
                display: none;
            }
        }
        &-img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
        &__brands {
            position: absolute;
            top: 118px;
            left: 45px;
            display: flex;
            flex-direction: column;
            gap: 7px;

            &-item {
                &:hover {
                    .slide__btn {
                        opacity: 0 !important;
                    }
                }
                width: 120px;
                height: 54px;
                // border: 1px solid var(--white);
                transition: all 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 120px;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    &__custom-pagination {
        display: flex;
        gap: 7px;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
    }
    &-wrapper {
        position: relative;
    }
    &__bar {
        z-index: 5;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 163px;
        padding: 0px 44px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            background: rgb(0, 0, 0);
            background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.7875525210084033) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7875525210084033) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7875525210084033) 0%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        }
        &-title {
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            color: var(--white);
            z-index: 5;
        }
        &-btn {
            z-index: 5;
            display: flex;
            align-items: center;
            gap: 29px;
            &-title {
                font-weight: 400;
                font-size: 20px;
                color: var(--white);
            }
        }
        &-border {
            z-index: 5;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #fff;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
        &-prev-arrow {
            z-index: 5;
            width: 38px;
            height: 38px;
            border-radius: 19px;
            border: 1px solid var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-next-arrow {
            z-index: 5;
            width: 38px;
            height: 38px;
            border-radius: 19px;
            border: 1px solid var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            &-icon {
                transform: rotate(180deg);
            }
        }
    }
}
@media (max-width: 1150px) {
    .banner-slider {
        &__bar {
            height: 120px;
            padding: 0px 44px;
            &-title {
                font-size: 35px;
            }
            &-btn {
                gap: 15px;
                &-title {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .banner-slider {
        .slide {
            &__brands {
                left: 25px;
            }
        }
        &__bar {
            height: 120px;
            padding: 0px 15px;
            gap: 10px;
            &-title {
                font-size: 25px;
            }
            &-btn {
                &-title {
                    display: none;
                }
            }
        }
    }
}
