.sidebar-list {
    position: relative;
    z-index: 2;
    &__item {
        font-weight: 400;
        font-size: 18px;
        color: var(--textGray);
        transition: var(--transition);
        cursor: pointer;
        &:hover {
            color: var(--primary);
        }
        &-active {
            color: var(--primary);
            font-weight: 600;
        }
        &-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            gap: 10px;
            padding: 6px 0;
            border-bottom: 1px solid var(--border);
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
