.sidebar-list {
    position: relative;
    z-index: 2;
    &__item {
        font-weight: 400;
        font-size: 20px;

        &-active {
            color: var(--primary);
        }
        &-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 8px;
        }
    }
}
