.sidebar-list {
    position: relative;
    z-index: 2;
    &__item {
        font-weight: 400;
        font-size: 20px;
        color: var(--textGray);
        transition: var(--transition);
        cursor: pointer;
        position: relative;
        padding: 0;
        margin-left: 0;
        &:hover {
            color: var(--primary);
        }
        &-active {
            color: var(--primary);
            padding-left: 16px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: var(--primary);
                transform: translateY(-50%);
                box-shadow: 0 0 0 4px var(--primary-light);
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}
