.vacancy {
    height: 100%;
    padding: 42px 40px 50px 36px;
    &__title {
        margin-top: 30px;
        font-weight: 500;
        font-size: 40px;
    }
    &__content {
        min-width: 0;
        margin-top: 30px;
    }
    .vacanc-list {
        h2 {
            margin-top: 20px;
            margin-top: 30px;
            font-weight: 500;
            font-size: 40px;
        }
        #work-jobs-list {
            margin-top: 20px;
            list-style-type: none;
            li {
                border-bottom: 1px solid #2c2c2c;
                padding-bottom: 20px;
                margin-bottom: 20px;
                // white-space: nowrap;
                margin-top: auto;
                font-weight: 600;
                font-size: 30px;
                a {
                    color: var(--primary);
                    font-weight: 600;
                    font-size: 30px;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .vacancy {
        flex-wrap: wrap;
        padding: 10px 0px;
        gap: 20px;
        &__title {
            margin-top: 30px;
            font-weight: 500;
            font-size: 30px;
        }
        &__content {
            padding: 0px 0px 20px 0px;
        }
    }
}
