.current-news {
    padding: 26px 0 47px 0;
    &__title {
        margin-top: 30px;
        font-weight: 500;
        font-size: 40px;
        color: var(--textBlack);
    }
    &__content {
        margin-top: 35px;
        display: flex;
        gap: 63px;

        &-img {
            min-width: 650px;
            object-fit: contain;
            object-position: top;
        }
        &-text {
            max-height: 411px;
            overflow: scroll;
            // overflow-y: hidden;
            overflow-x: hidden;
            text-align: justify;
            ul {
                margin-top: 15px;
            }
            p {
                margin-bottom: 15px;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            color: var(--textBlack);

            &-date {
                font-weight: 400;
                font-size: 14px;
            }
            &-title {
                font-weight: 600;
                font-size: 36px;
                margin-top: 20px;
            }
            &-subtitle {
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #525252;
            }
            &-txt {
                font-weight: 400;
                font-size: 24px;
                margin-top: 22px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .current-news {
        padding: 26px 0 47px 0;
        &__title {
            font-size: 30px;
            color: var(--textBlack);
        }
        &__content {
            margin-top: 35px;
            flex-wrap: wrap;
            gap: 30px;
            &-img {
                min-width: 300px;
                width: 100%;
                object-fit: contain;
            }
            &-text {
                color: var(--textBlack);

                &-title {
                    font-size: 30px;
                }
                &-txt {
                    font-size: 18px;
                    margin-top: 20px;
                }
            }
        }
    }
}
