.news {
    .swiper-slide {
        height: auto;
    }
    .divider {
        position: absolute;
        height: 100%;
        width: 1px;
        background: black;
        z-index: 1;
        left: 422px;
        .bg-icon {
            position: absolute;
            top: 65%;
            left: -200px;
            width: 350px;
            height: 350px;
            opacity: 0.2;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    .news-slide {
        &__img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }
        &__title {
            font-weight: 600;
            font-size: 36px;
            color: var(--textBlack);
            margin-top: 30px;
        }
        &__txt {
            font-weight: 400;
            font-size: 14px;
            color: var(--textBlack);
            margin-top: 13px;
            p {
                margin-bottom: 10px;
                strong {
                    font-weight: 600;
                }
            }
        }
        &-more {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 600;
            color: var(--primary);
        }
    }
    .user-slide {
        &__header {
            display: flex;
            gap: 54px;
            &-img {
                max-width: 440px;
                min-width: 300px;
                // max-height: 357px;
                object-fit: contain;
                object-position: top;
                width: 100%;
            }
            &-text {
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #525252;
                p {
                    margin-bottom: 10px;
                    strong {
                        font-weight: 600;
                    }
                }
            }
        }
        &__footer {
            margin-top: 25px;

            &-name {
                font-weight: 700;
                font-size: 24px;
            }
            &-position {
                font-weight: 400;
                font-size: 20px;

                color: #525252;
                margin-top: 8px;
            }
            &-more {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                color: var(--primary);
            }
        }
    }
    height: 100%;
    display: flex;
    &__sidebar {
        padding: 42px 40px 50px 36px;
        z-index: 2;
        min-height: 100%;

        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;
            &-item {
                display: flex;
                font-weight: 400;
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
    &__content {
        min-width: 0;
        min-height: 0;

        // display: flex;
        &-slider {
            min-width: 0;
            min-height: 0;
            padding: 44px 45px 50px 42px;
            padding-top: 115px;
        }

        // &-divider {
        //     height: 100%;
        //     width: 2px;
        //     background: var(--textGray);
        // }
    }
}

// @media (max-width: 1450px) {
//     .news {
//         &__sidebar {
//             border: none;
//             height: auto;
//             padding: 15px 0px 20px 0px;
//             &-title {
//                 margin-top: 30px;
//                 font-weight: 500;
//                 font-size: 30px;
//             }
//             &-list {
//                 margin-top: 32px;
//                 width: auto;
//             }
//         }
//         &__content {
//             min-width: 0;

//             padding: 0px 0px 20px 0px;
//         }
//     }
// }

@media (max-width: 1080px) {
    .news {
        flex-wrap: wrap;
        .divider {
            display: none;
        }
        .user-slide {
            &__header {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }
        }

        &__content {
            display: block;
            &-slider-second {
                display: none;
            }
            &-slider-first {
                border: none;
            }
        }
        &__content {
            min-width: 0;
            padding: 0px 0px 20px 0px;
            // display: flex;
            &-slider {
                padding: 0px;
            }
        }

        &__sidebar {
            min-width: 0;
            min-height: 0;
            padding: 30px 0px 30px 0px;
        }
    }
}
