.news {
    .news-slide {
        &__img {
            width: 100%;
            object-fit: cover;
        }
        &__title {
            font-weight: 600;
            font-size: 36px;
            color: var(--textBlack);
            margin-top: 30px;
        }
        &__txt {
            font-weight: 400;
            font-size: 14px;
            color: var(--textBlack);
            margin-top: 13px;
        }
    }
    height: 100%;
    display: flex;
    &__sidebar {
        padding: 42px 40px 50px 36px;
        border-right: 1px solid #2c2c2c;
        height: 100%;
        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;
        }
    }
    &__content {
        min-width: 0;

        display: flex;
        &-slider {
            padding: 44px 45px 50px 42px;
            &-first {
                border-right: 1px solid var(--textGray);
            }
        }

        &-divider {
            height: 100%;
            width: 2px;
            background: var(--textGray);
        }
    }
}

@media (max-width: 1450px) {
    .news {
        flex-wrap: wrap;

        &__sidebar {
            border: none;
            height: auto;
            padding: 15px 0px 20px 0px;
            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            &-list {
                margin-top: 32px;
                width: auto;
            }
        }
        &__content {
            min-width: 0;

            padding: 0px 0px 20px 0px;
        }
    }
}

@media (max-width: 1080px) {
    .news {
        flex-wrap: wrap;

        &__content {
            display: block;
            &-slider-second {
                display: none;
            }
            &-slider-first {
                border: none;
            }
        }
    }
}
