.cooperation {
    height: 100%;
    display: flex;
    &__sidebar {
        padding: 42px 40px 50px 36px;
        border-right: 1px solid #2c2c2c;
        height: 100%;
        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;
        }
    }

    &__content {
        padding: 44px 0px 50px 42px;
        display: flex;
        gap: 87px;
        &-form {
            &-title {
                font-weight: 500;
                font-size: 40px;
                margin-bottom: 27px;
            }
            &-btn {
                margin-top: 12px;
            }
        }
        &-list {
            &-title {
                font-weight: 500;
                font-size: 40px;
                margin-bottom: 27px;
            }
            &-item {
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .cooperation {
        flex-wrap: wrap;
        gap: 20px;
        &__sidebar {
            border: none;
            height: auto;
            padding: 20px 0px 20px 0px;
            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            &-list {
                margin-top: 32px;
                width: auto;
            }
        }
        &__content {
            // justify-content: center;
            min-width: 0;
            padding: 0px 0px 20px 0px;
            &-form {
                width: 100%;
                &-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
            }
            &-list {
                &-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                &-item {
                    font-weight: 400;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width: 870px) {
    .cooperation {
        &__content {
            flex-wrap: wrap;
            gap: 30px;
            min-width: 0;
            // padding: 0px 15px 20px 15px;
        }
    }
}
