.cooperation {
    height: 100%;
    display: flex;
    // position: relative;
    .divider {
        position: absolute;
        height: 100%;
        width: 1px;
        background: black;
        z-index: 1;
        left: 422px;
        .bg-icon {
            position: absolute;
            top: 65%;
            left: -200px;
            width: 350px;
            height: 350px;
            opacity: 0.2;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    &__sidebar {
        padding: 42px 40px 50px 36px;
        position: relative;
        min-height: 100%;
        z-index: 2;
        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;
            &-bg {
                opacity: 0.2;
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 350px;
            }
        }
    }

    &__content {
        padding: 44px 0px 50px 42px;
        display: flex;
        width: 100%;
        // gap: 87px;
        &-form {
            width: 100%;
            &-title {
                font-weight: 500;
                font-size: 60px;
                margin-bottom: 27px;
            }
            &-btn {
                margin-top: 12px;
                display: flex;
            }
        }
        &-list {
            &-title {
                font-weight: 500;
                font-size: 40px;
                margin-bottom: 27px;
            }
            &-item {
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 1325px) {
    .cooperation {
        &__content {
            &-form {
                &-title {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .cooperation {
        .divider {
            display: none;
        }
        flex-wrap: wrap;
        gap: 20px;
        &__sidebar {
            border: none;
            height: auto;
            padding: 20px 0px 20px 0px;
            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            &-list {
                margin-top: 32px;
                width: auto;
            }
        }
        &__content {
            // justify-content: center;
            min-width: 0;
            padding: 0px 0px 20px 0px;
            &-form {
                width: 100%;
                &-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
            }
            &-list {
                &-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                &-item {
                    font-weight: 400;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width: 870px) {
    .cooperation {
        &__content {
            flex-wrap: wrap;
            gap: 30px;
            min-width: 0;
            // padding: 0px 15px 20px 15px;
        }
    }
}
