.footer {
    // position: fixed;
    // bottom: 0px;
    // left: 0;
    // right: 0;

    margin-top: auto;
    background: var(--primary);
    width: 100%;
    z-index: 2;

    .footer-content-wrapper {
        padding: 30px var(--offset);
        display: flex;
        align-items: center;
        gap: 250px;
        max-width: 1140px;
        margin: 0 auto;
    }
    &__rights {
        font-weight: 400;
        font-size: 20px;
        color: var(--white);
    }
    &__socials {
        display: flex;
        gap: 8px;
        justify-content: center;
        &-item {
            width: 46px;
            height: 46px;
            border-radius: 30px;
            border: 2px solid var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 870px) {
    .footer {
        .footer-content-wrapper {
            flex-wrap: wrap;
            padding: 30px var(--offset-mobile);
            gap: 30px;
        }

        &__rights {
            font-weight: 400;
            font-size: 16px;
        }
        &__socials {
            display: flex;
            gap: 8px;
            justify-content: center;
            &-item {
                width: 40px;
                height: 40px;
            }
        }
    }
}
