.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    color: var(--textGray);
    &__link {
        &-last {
            color: var(--textGray10);
        }
    }
}

@media (max-width: 800px) {
    .bread-crumbs {
        font-size: 18px;
    }
}
