.contact-item {
    display: flex;
    gap: 35px;
    &__title {
        font-weight: 600;
        font-size: 36px;
    }
    &__desc {
        // display: flex;
        gap: 18px;
        margin-top: 7px;
        padding-right: 37px;
        &-txt {
            font-weight: 400;
            font-size: 14px;
            line-height: 122%;
        }
        &-salary {
            white-space: nowrap;
            margin-top: auto;
            font-weight: 600;
            font-size: 36px;
        }
    }
    &__city {
        font-weight: 600;
        font-size: 36px;
        white-space: nowrap;
        display: block;
    }
    &__street {
        margin-top: 6px;
    }
    &__time {
        margin-top: 6px;
    }
    &__phone {
        font-weight: 600;
        margin-top: 6px;
    }

    border-bottom: 1px solid #2c2c2c;
    padding-bottom: 24px;
    margin-bottom: 32px;
}

@media (max-width: 1350px) {
    .contact-item {
        flex-wrap: wrap;
        &__city {
            font-size: 30px;
        }
        &__title {
            font-size: 28px;
        }
        &__desc {
            gap: 10px;
            margin-top: 7px;
            padding-right: 20px;

            &-salary {
                font-size: 20px;
            }
        }

        padding-bottom: 20px;
        margin-bottom: 28px;
    }
}
