.about-us {
    .divider {
        position: absolute;
        height: 100%;
        width: 1px;
        background: black;
        z-index: 1;
        left: 422px;
        .bg-icon {
            position: absolute;
            top: 65%;
            left: -200px;
            width: 350px;
            height: 350px;
            opacity: 0.2;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    height: 100%;
    display: flex;
    &__slide {
        margin-top: -15px;

        h2 {
            margin: 1.0417vw 0;
            font-size: 2.5rem;
        }
        h3 {
            margin: 1.0417vw 0;
            font-size: 2.3rem;
        }
        h4 {
            margin: 1.0417vw 0;
            font-size: 2.1rem;
            line-height: 1.2;
            font-weight: 500;
        }

        ul {
            margin: 1.0417vw 0;
            font-size: 2rem;
        }

        strong {
            font-weight: 600;
        }
        p {
            margin: 1.0417vw 0;
            font-size: 2rem;
        }
        img {
            max-height: 300px;
            object-fit: contain;
            object-position: center;
            margin: 0 auto;
            border-radius: 10px;
        }
        // font-weight: 400;
        // font-size: 40px;
        max-height: 530px;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            max-height: 300px;
            object-fit: contain;
            object-position: center;
            margin: 0 auto;
            border-radius: 10px;
        }
    }

    &__sidebar {
        padding: 42px 40px 50px 36px;
        min-height: 100%;
        position: relative;
        z-index: 2;
        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;

            &-bg {
                opacity: 0.2;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 350px;
            }
        }
    }
    &__content {
        min-width: 0;
        padding: 110px 0px 50px 42px;
        &-btn {
            width: 38px;
            height: 38px;
            border-radius: 30px;
            border: 1px solid var(--textGray);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-top: 15px;
        }
    }
}

@media (max-width: 1325px) {
    .about-us {
        .divider {
            position: absolute;
            height: 100%;
            width: 1px;
            background: black;
            z-index: 1;
            left: 422px;
        }
        height: 100%;
        display: flex;
        &__slide {
            h2 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.8rem;
            }
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1.5rem;
            }
            ul {
                margin: 1.0417vw 0;
                font-size: 1.5rem;
            }
            max-height: 350px;
        }
    }
}

@media (max-width: 1000px) {
    .about-us {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .divider {
            display: none;
        }

        // justify-content: space-between;
        &__sidebar {
            border: none;
            height: auto;
            padding: 20px 15px 20px 15px;
            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            &-list {
                margin-top: 32px;
                width: auto;
            }
        }
        &__content {
            min-width: 0;

            padding: 0px 15px 20px 15px;
        }
        &__slide {
            font-size: 25px;
        }
    }
}
