.about-us {
    .divider {
        position: absolute;
        height: 100%;
        width: 1px;
        background: black;
        z-index: -1;
        left: 422px;
    }
    height: 100%;
    display: flex;
    &__slide {
        font-weight: 400;
        font-size: 40px;
        max-height: 400px;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    // justify-content: space-between;
    &__sidebar {
        padding: 42px 40px 50px 36px;
        // border-right: 1px solid #2c2c2c;
        min-height: 100%;
        &-title {
            margin-top: 40px;
            font-weight: 500;
            font-size: 40px;
        }
        &-list {
            margin-top: 72px;
            width: 305px;
        }
    }
    &__content {
        min-width: 0;
        padding: 110px 0px 50px 42px;
        &-btn {
            width: 38px;
            height: 38px;
            border-radius: 30px;
            border: 1px solid var(--textGray);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-top: 15px;
        }
    }
}

@media (max-width: 1000px) {
    .about-us {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .divider {
            display: none;
        }

        // justify-content: space-between;
        &__sidebar {
            border: none;
            height: auto;
            padding: 20px 15px 20px 15px;
            &-title {
                margin-top: 30px;
                font-weight: 500;
                font-size: 30px;
            }
            &-list {
                margin-top: 32px;
                width: auto;
            }
        }
        &__content {
            min-width: 0;

            padding: 0px 15px 20px 15px;
        }
        &__slide {
            font-size: 25px;
        }
    }
}
